.font{
    height: 70px;
    width: 100%;
    background-color: rgb(5, 36, 38);
}
.logo{
    margin-left: 30px;
    height: 100%;
    width:6%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.para{
    text-align: center;
    margin-top: -60px;
    color: white;
    font-size: 20px;
}
body{
    background-image: url(Images/img-bg.jpg);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
   width: 95%;
    background-color:rgb(128, 128, 128);
    height: 700px;
   margin-top: 24px;
   margin-left: 350px;
   position: relative;
   margin-left: 33px;
  
    }
    .couleur{
        width: 100%;
        height: 100px;
        background-color: rgb(81,191,208);
    }
    h1{
        font-size: 40px;
        color: white;
        margin-left: 185px;
        margin-top: 40px;
        float: left;
        text-align: center;
    }
    .connex{
        display: inline-block;
        height: 60px;
        width:170px;
        background: rgb(81,191,208);
        color:#fff;
        font-size:27px;
        margin-left: 110px;
        margin-top: 20px;
    }    
    .profil{
        width: 60%;
        background-color: white;
        height: 60%;
        float: left;
        margin-left: 37%;
    }
    h2{
        font-size: 30px;
        margin-right: 70%;
        color: black;
    }
     h3{
        font-size: 15px;
        margin-right: 70%;
        margin-top: -3%;
        color: black;
    }
    .bar{
        width: 50%;
        height: 1%;
        background-color: grey;
    }
    label{
        width: 50%;
        height: 17px;
        font-size: 15px;
        color: black;
        float:left;
        
    }
    input[type="text"]{
        border-radius: 10%;
        margin-right: 70% ;
        width: 99%;
    }
    input[type="nom"]{
        border-radius: 10%;
        margin-right: 70% ;
        width: 99%;
    }
    input[type="login"]{
        border-radius: 10%;
        margin-right: 70% ;
        width: 99%;
    }
    input[type="password"]{
        border-radius: 10%;
        margin-right: 70% ;
        width: 99%;
    }
    input[type="confirmer password"]{
        border-radius: 10%;
        margin-right: 70% ;
        width: 99%;
    }
    .menu{
        background-color: white;
        width:33%;
        height: 50%;
        margin-top: 4%;
        margin-left: 1%;
    }
    .image{
        background-color:rgba(0, 195, 255, 0.979) ;
        width: 100%;
        height:35% ;
    }
    .myprofil{
        width: 27%;
        height: 34%;
        background-color:rgba(0, 195, 255, 0.979) ;
        float: right;
       margin-right: 10%;
        margin-top: -35%;
        border-radius: 50%;
    }
    .myinput{
        width: 37%;
        height: 58%;
    }
    #btn1{
        margin-top: 6%;
        margin-left: 40%;
        background-color:rgba(0, 195, 255, 0.979) ;
    }
    .btn2{
        background-color: rgba(0, 195, 255, 0.979);
        margin-top: 5%;
        float: left;
        margin-left: 40%;
    }
    .quiz{
        width: 99%;
        height: 15%;
        border: 1px black solid;
        position:relative;
    }
    p.question {
        float: left;
        color: black;
        margin-top: -57%;
    }
    .quiz > img{
            margin:  -90px 0px 0px 464px;
            position: absolute;
            border-top-left-radius:5px;
            border-bottom-left-radius:5px;
            width: 100%;
        }
        .admin{
            width: 99%;
            height: 15%;
            border: 1px black solid;
            position:relative;
        }
        p.creer{
            float: left;
            color: black;
            margin-top: -45%;
        }
        .liste{
            width: 99%;
            height: 15%;
            border: 1px black solid;
            position:relative;
        }
        p.joueur{
            float: left;
            color: black;
            margin-top: -33%;
        }
        .qtn{
            width: 99%;
            height: 15%;
            border: 1px black solid;
            position:relative;
        }
        p.création{
            float: left;
            color: black;
            margin-top: -20%;
        }
        p.avatar{
            font-size: 20px;
            float: left;
            margin-left: 7%;
            color: black;
                }
    
    